<template>
  <form class="input-group input-group-lg mb-5" @submit="addTodo">
    <input
      v-model="newTodo"
      class="form-control"
      type="text"
      autocomplete="off"
      placeholder="What needs to be done?"
      aria-label="What needs to be done?"
      required
    />
    <button
      class="btn btn-primary py-1 px-3"
      type="submit"
      aria-label="Add todo"
    >
      <SvgPlus width="30" height="30" />
    </button>
  </form>
</template>

<script>
import SvgPlus from 'bootstrap-icons/icons/plus.svg?inline'

export default {
  components: {
    SvgPlus,
  },
  data() {
    return {
      newTodo: null,
    }
  },
  methods: {
    addTodo(event) {
      event.preventDefault()
      if (this.newTodo) {
        this.$store.dispatch('todos/add', this.newTodo)
        this.newTodo = ''
      }
    },
  },
}
</script>
