<template>
  <footer class="mt-5 bg-white py-2 shadow-sm">
    <div class="container small">
      <div class="row align-items-center">
        <div class="col-12 col-sm py-1">
          &copy;
          <a
            href="https://www.html-factory.cz/vitalij-petras-frontend-koder-wordpress-specialista/"
            class="text-reset"
            >Vitalij Petráš</a
          >
        </div>
        <div class="col-auto py-1">
          <a href="https://gitlab.com/vitalij-petras/simple-todo-app"
            >Source code on GitLab</a
          >
        </div>
        <div class="col-auto py-1">
          <button
            class="btn btn-link"
            @click="$store.dispatch('todos/clearLocalStorage')"
          >
            <small>Clear localstorage</small>
          </button>
        </div>
      </div>
    </div>
  </footer>
</template>
