<template>
  <header class="py-3 mb-5 bg-white shadow-sm">
    <div class="container">
      <div class="row align-items-center">
        <div class="col py-2">
          <h1 class="h5 m-0">Simple todo app with nuxt.js</h1>
        </div>

        <div v-if="this.$route.fullPath !== '/'" class="col-auto">
          <NuxtLink to="/" class="btn btn-secondary">
            Back to homepage
          </NuxtLink>
        </div>
      </div>
    </div>
  </header>
</template>
