<template>
  <div
    id="modal-remove"
    ref="modalRemove"
    class="modal fade"
    tabindex="-1"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            Are you sure you want to remove this todo?
          </h5>
          <button
            type="button"
            class="btn-close ms-4"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Todo will be removed with no way to restore</p>
        </div>
        <div class="modal-footer justify-content-start">
          <button
            type="button"
            class="btn px-sm-5 btn-success"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button
            type="button"
            class="btn px-sm-5 btn-danger"
            data-bs-dismiss="modal"
            @click="removeAccept"
          >
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.$refs.modalRemove.addEventListener(
      'hidden.bs.modal',
      this.nullifyRemoveRequest
    )
  },
  beforeDestroy() {
    this.$refs.modalRemove.removeEventListener(
      'hidden.bs.modal',
      this.nullifyRemoveRequest
    )
  },
  methods: {
    nullifyRemoveRequest() {
      this.$store.dispatch('todos/changeRemoveId', null)
    },
    removeAccept() {
      this.$store.dispatch('todos/removeAccept')
    },
  },
}
</script>
