<template>
  <div class="btn-group align-self-stretch border rounded" role="group">
    <button
      v-if="!todo.done"
      type="button"
      class="btn btn-light p-1 d-inline-flex align-items-center text-secondary"
      aria-label="Edit todo"
      @click="$emit('toggle-edit')"
    >
      <SvgPencilFill width="20" height="16" />
    </button>
    <button
      type="button"
      class="btn btn-light p-0 d-inline-flex align-items-center text-success"
      aria-label="Mark as done"
      @click="toggleTodo"
    >
      <SvgCheck v-if="!todo.done" width="28" height="28" />
      <SvgArrowRepeat v-else width="28" height="20" />
    </button>
    <button
      type="button"
      class="btn btn-light p-0 d-inline-flex align-items-center text-danger"
      aria-label="Remove todo"
      @click="removeRequest"
    >
      <SvgX width="28" height="28" />
    </button>
  </div>
</template>

<script>
import SvgCheck from 'bootstrap-icons/icons/check.svg?inline'
import SvgX from 'bootstrap-icons/icons/x.svg?inline'
import SvgPencilFill from 'bootstrap-icons/icons/pencil-fill.svg?inline'
import SvgArrowRepeat from 'bootstrap-icons/icons/arrow-repeat.svg?inline'

export default {
  emits: ['toggle-edit'],
  components: {
    SvgCheck,
    SvgX,
    SvgPencilFill,
    SvgArrowRepeat,
  },
  props: {
    todo: {
      type: Object,
      required: true,
    },
    edit: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    toggleTodo() {
      this.$store.dispatch('todos/toggle', this.todo.id)
    },
    removeRequest() {
      this.$store.dispatch('todos/changeRemoveId', this.todo.id)
      this.$bsModal.open('modal-remove')
    },
  },
}
</script>
