<template>
  <div>
    <article v-if="todosNotDone.length > 0" class="mb-5">
      <h2>Todos</h2>
      <ul class="list-group">
        <TodoListItem
          v-for="todo in todosNotDone"
          :key="todo.id"
          :todo="todo"
        />
      </ul>
    </article>

    <article v-if="todosDone.length > 0" class="mb-5">
      <h2>Done</h2>
      <ul class="list-group">
        <TodoListItem v-for="todo in todosDone" :key="todo.id" :todo="todo" />
      </ul>
    </article>
  </div>
</template>

<script>
export default {
  computed: {
    todosDone() {
      return this.$store.getters['todos/todosDone']
    },
    todosNotDone() {
      return this.$store.getters['todos/todosNotDone']
    },
  },
}
</script>
