<template>
  <li :class="className">
    <template v-if="!edit">
      <p class="m-0 py-1 flex-grow-1">
        <NuxtLink :to="`/todo/${todo.id}`">
          {{ todo.text }}
        </NuxtLink>
      </p>

      <TodoListItemActions :todo="todo" @toggle-edit="edit = !edit" />
    </template>

    <TodoListItemForm
      v-else
      :todo-id="todo.id"
      :todo-text="todo.text"
      @stop-todo="edit = false"
    />
  </li>
</template>

<script>
export default {
  props: {
    todo: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      edit: false,
    }
  },
  computed: {
    className() {
      let className = 'list-group-item d-flex align-items-center'
      if (this.todo.done) className += ' text-muted bg-light'
      return className
    },
  },
}
</script>
