<template>
  <form class="input-group input-group-sm" @submit="editTodo">
    <input
      ref="input"
      v-model="newTodoText"
      class="form-control"
      type="text"
      autocomplete="off"
      aria-label="Change todo text"
      required
    />
    <button class="btn btn-success py-0 px-3" type="submit" aria-lbel="Změnit">
      <SvgCheck width="30" height="30" />
    </button>
  </form>
</template>

<script>
import SvgCheck from 'bootstrap-icons/icons/check.svg?inline'

export default {
  components: {
    SvgCheck,
  },
  emits: ['stop-todo'],
  props: {
    todoText: {
      type: String,
      required: true,
    },
    todoId: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      newTodoText: this.todoText,
    }
  },
  mounted() {
    this.$refs.input.focus()
  },
  methods: {
    editTodo(event) {
      event.preventDefault()
      if (this.newTodoText) {
        this.$store.dispatch('todos/edit', {
          newText: this.newTodoText,
          todoId: this.todoId,
        })
        this.$emit('stop-todo')
      }
    },
  },
}
</script>
