<template>
  <div class="d-flex flex-column">
    <div class="d-flex flex-column min-vh-100">
      <Header />

      <main class="flex-grow-1">
        <Nuxt />
      </main>

      <Footer />
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    if (this.$store.state.todos.list.length < 1)
      this.$store.dispatch('todos/loadTodosFromLocalStorage')
  },
}
</script>
