<template>
  <div class="container text-center">
    <h1>Error {{ error.statusCode }}!</h1>
    {{ error.message }}
  </div>
</template>

<script>
export default {
  props: {
    error: {
      type: Object,
      required: true,
    },
  },
  head() {
    return {
      title: `${this.error.message} ${this.error.statusCode}`,
    }
  },
}
</script>
