<template>
  <div class="container">
    <h1>{{ todo.text }}</h1>
  </div>
</template>

<script>
export default {
  async asyncData({ params, store, error }) {
    const todo = await store.dispatch('todos/findById', parseInt(params.id))

    if (!todo)
      return error({
        statusCode: 404,
        message: `Todo with id ${params.id} not found`,
      })

    return { todo }
  },
  head() {
    return {
      title: this.todo.text,
    }
  },
}
</script>
